@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

header {
  font-family: "Ubuntu", sans-serif;
  padding-top: 0.5rem;
}

.headerElement {
  position: fixed;
  top: 0;
  margin-top: -2rem;
  background-color: #fff;
  height: 10%;
  z-index: 1;
}

.login {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.login i {
  font-size: 1.2rem;
}

.login:hover {
  color: blue;
}

/* Modal background */
.modal {
  display: none;
  /* hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  /* semi-transparent background */
}

/* Modal content box */
.modal-content {
  background-color: #fff;
  margin: 5% auto;
  /* center vertically */
  padding: 5%;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  position: relative;
  display: block;
}

/* Close button */
.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

/* Input fields */
.modal-content input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.modal-content i {
  font-size: 6rem;
}

/* Submit button */
.submitBtn {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: #0056b3;
}

form#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

#loginForm input {
  width: 20vw;
}

button {
  width: 100%;
}

.loginELement{
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.loginELement i {
  color: #007bff;
}

.loginELement h3 {
  color: #007bff;
}

#myUserLogOut h3 {
  color: red;
}

#addIcon {
  cursor: pointer;
}

#addIcon i {
  color: #007bff;
  font-size: 1.2rem;
}


